.btn {
  color: var(--theme-color);
  padding: 0.7rem 1.1rem;
  border: 1px solid var(--theme-color);
  border-radius: 4px;
  font-size: var(--tsm);
  font-weight: 500;

  &:hover {
    background: var(--lightest-navy);
  }
}
