.social-icons {
  position: fixed;
  bottom: 0;
  left: 3rem;
  & > ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    & > li {
      font-size: var(--tlarge2);
      transition: 0.3s ease-in-out;
      margin-top: 5px;
      & > a,
      & > .social-icons-icon-link {
        color: var(--lightest-slate);
        transition: 0.3s ease-in-out;
        outline: 2px dashed transparent;

        &:hover {
          color: var(--theme-color);
        }
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
    &::after {
      content: "";
      display: block;
      height: 95px;
      width: 1.5px;
      background: var(--lightest-slate);
      margin: 0 auto;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
