.about {
  margin: 15rem auto;
  width: 100%;
  .title {
    font-family: var(--raleway);
    color: var(--light-slate);
    position: relative;
    font-size: var(--tlarge);
    h2 {
      margin-bottom: 2rem;

      font-weight: 700;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 16px;
        width: 300px;
        height: 2px;
        background: var(--lightest-navy);
        margin-left: 200px;
      }
    }
  }
  .about-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;

    .about-info {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      .about-info-text {
        color: var(--slate);
        margin-right: 11%;
        line-height: 1.7rem;
        letter-spacing: 0.05rem;
        font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text",
          -apple-system, system-ui, sans-serif;
      }
      .about-info-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 1rem;
        padding: 0 1rem;
        .about-info-list-item {
          line-height: 1.6rem;
          color: var(--slate);
          font-weight: 400;
          position: relative;
          font-size: var(--tbase);
          font-family: var(--fira-code);
          font-size: var(--tsm1);
          &::before {
            content: "▹";
            position: absolute;
            left: -20px;
            top: 6px;
            color: var(--theme-color);
            line-height: 13px;
          }
        }
      }
    }
    .about-grid-photo {
      position: relative;
      width: max-content;
      height: max-content;
      .about-grid-photo-container {
        position: relative;
        height: 450px;
        width: 450px;
        margin-top: -3rem;
        img {
          transition: 0.3s ease-in-out;

          &:hover {
            transform: translateY(-15px);
          }
        }
      }
    }
  }

  @media screen and (max-width: 1080px) {
    margin: 5rem 0;
    .title {
      h2 {
        &::after {
          width: 200px;
        }
      }
    }
    .about-grid {
      .about-grid-photo {
        .about-grid-photo-container {
          height: 223px;
          width: 223px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    margin: 9rem auto;
    .title {
      h2 {
        &::after {
          width: 200px;
        }
      }
    }
    .about-grid {
      .about-grid-photo {
        margin-top: 3rem;

        .about-grid-photo-container {
          height: 350px;
          width: 350px;
        }
      }
      .about-info {
        .about-info-text {
          margin-right: 0;
        }
      }
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 480px) {
    .title {
      h2 {
        &::after {
          display: none;
        }
      }
    }

    .about-grid {
      .about-info {
        .about-info-list {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      .about-grid-photo {
        .about-grid-photo-container {
          height: 223px;
          width: 223px;
        }
      }
    }
  }
}
