.projects {
  margin: 15rem auto;
  .title {
    font-family: var(--raleway);
    position: relative;
    color: var(--light-slate);
    font-size: var(--tlarge);
    h2 {
      margin-bottom: 3rem;
      font-weight: 700;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 16px;
        width: 300px;
        height: 2px;
        margin-left: 360px;
        background-color: var(--lightest-navy);
      }
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .project {
      position: relative;
      display: flex;
      justify-content: flex-end;
      &-image {
        &-container {
          position: relative;
          width: 600px;
          height: 300px;
          img {
            border-radius: 6px;
            box-shadow: 0 20px 30px -15px rgba(2, 12, 27, 0.7);
          }
        }
        position: absolute;
        top: 0;
        left: 0;

        &:hover {
          .project-image-overlay {
            background-color: #00000000;
          }
          img {
            filter: none;
          }
        }
        &-overlay {
          transition: 0.3s ease-in-out;
          z-index: 1;
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #3d8aa061;
          border-radius: 6px;
        }
        img {
          z-index: 0;
          filter: grayscale(100%);
          transition: 0.3s ease-in-out;
        }
      }
      &-info {
        z-index: 5;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        &-overline {
          color: var(--theme-color);
          font-family: var(--fira-code);
        }
        &-title {
          width: max-content;
          color: var(--lightest-slate);
          font-size: var(--txlarge);
          font-family: var(--raleway);
          cursor: pointer;
          transition: 0.3s ease-in-out;
          &:hover {
            color: var(--theme-color);
          }
        }
        &-description {
          background-color: var(--light-navy);
          border-radius: 0.2rem;
          width: 90%;
          box-shadow: 0 20px 30px -15px rgba(2, 12, 27, 0.7);

          p {
            color: var(--light-slate);
            padding: 1.5rem;
            text-align: end;
            font-size: var(--tsm2);
            line-height: 1.4rem;
            color: var(--lightest-slate);
            font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text",
              -apple-system, system-ui, sans-serif;
          }
        }
        &-tech-list {
          display: flex;
          list-style-type: none;
          gap: 1rem;
          flex-wrap: wrap;
          width: 90%;
          justify-content: flex-end;
          &-item {
            color: var(--lightest-slate);
            font-family: var(--fira-code);
            font-size: 13px;
            margin-top: 10px;
          }
        }

        &-links {
          font-size: var(--tlarge2);
          list-style-type: none;
          display: flex;
          gap: 1rem;
          &-item {
            transition: 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            &-link {
              padding: 5px;
              color: var(--light-slate);
              transition: 0.3s ease-in-out;
              &:hover {
                color: var(--theme-color);
              }
            }
          }
        }
      }
      &:nth-of-type(even) {
        justify-content: flex-start;
        .project-image {
          right: 0;
          left: initial;
        }
        .project-info {
          align-items: flex-start;
          &-description {
            p {
              text-align: start;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1080px) {
    &-container {
      align-items: center;
      .project {
        justify-content: flex-start;
        .project-info {
          width: 600px;
          height: 300px;
          background-color: #08111ea4;
          align-items: flex-start;
          padding: 1rem;

          &-description {
            background-color: transparent;
            p {
              padding: 0;
              text-align: start;
            }
          }
        }
        &:nth-of-type(even) {
          .project-image {
            left: 0;
            right: initial;
          }
        }
      }
    }
  }
  @media (max-width: 680px) {
    margin: 9rem 0;
    &-container {
      gap: 4rem;
      .project {
        &-image {
          object-fit: contain;
          &-container {
            width: 500px;
            height: 300px;
          }
        }
        .project-info {
          width: 500px;
          height: 300px;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .title {
      h2 {
        &::after {
          display: none;
        }
      }
    }
    &-container {
      .project {
        &-image {
          img {
            object-fit: cover;
            opacity: 0.4;
          }
          &-container {
            width: 350px;
            height: 400px;
          }
        }
        .project-info {
          width: 350px;
          height: 400px;
        }
      }
    }
  }
  @media screen and (max-width: 968px) {
    margin: 10rem 0;
    .title {
      h2 {
        &::after {
          width: 180px;
        }
      }
    }
  }

  @media (max-width: 350px) {
    &-container {
      .project {
        &-info {
          &-tech-list {
            gap: 10px;
            width: 100%;
          }
        }
      }

      .project {
        &-image {
          img {
            object-fit: cover;
            opacity: 0.4;
          }
          &-container {
            width: 280px;
            height: 450px;
          }
        }
        .project-info {
          width: 280px;
          height: 450px;
        }
      }
    }
  }
}
