* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: var(--raleway);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--theme-color);
}

.code-numbering {
  color: var(--theme-color);
  font-family: var(--fira-code);
  font-size: var(--tlarge);
  font-weight: 400;
  margin-right: 5px;
}
