main {
  margin: 0 14rem;
  transition: 0.3s all ease-in-out;

  @media (max-width: 1020px) {
    margin: 0 8rem;
  }
  @media (max-width: 768px) {
    margin: 0 3rem;
  }
  @media (max-width: 550px) {
    margin: 0 1.5rem;
  }
}

.blur {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}
